WA-Send-Messages.json
{
    "name": "Final-WA-SendMessage",
    "nodes": [
        {
            "parameters": {
                "method": "POST",
                "url": "=https://graph.facebook.com/v22.0/658047077399745/messages\n",
                "authentication": "genericCredentialType",
                "genericAuthType": "httpCustomAuth",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "Authorization",
                            "value": "Bearer EAAVkNOhbryMBPTBO3anVUhFWkEekku8SypFdZAwZBoVVOEFLwgeyOBgwjpbhmFCj8F9aijUzLtr2ZCRWiwyvEyRR5iWaEqIaA4DM1HTIDDgjz6AWCKYmrYkCxgRj2D3ui9mZCtVYTaVBskJ7t755IYf2ZC2wMfIaSZAUcvms6RA3ZBTpiBfGfYweBwMntsmewIFUfH5xGoXoqwPhidzZApAyltKZA0lktrzvAbPwMebdlPwZDZD"
                        },
                        {
                            "name": "Content-Type",
                            "value": "application/json"
                        }
                    ]
                },
                "sendBody": true,
                "bodyParameters": {
                    "parameters": [
                        {
                            "name": "messaging_product",
                            "value": "whatsapp"
                        },
                        {
                            "name": "to",
                            "value": "={{$json[\"to\"].toString().replace(/\\D/g, '')}}"
                        },
                        {
                            "name": "type",
                            "value": "text"
                        },
                        {
                            "name": "text.body",
                            "value": "={{ $json.text.body }}"
                        }
                    ]
                },
                "options": {}
            },
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                112,
                -144
            ],
            "id": "16c4eba1-378a-4290-b339-5ab07865c476",
            "name": "Send WhatsApp Notice",
            "credentials": {
                "httpCustomAuth": {
                    "id": "ztgFiXiRkFazHXHL",
                    "name": "Custom Auth account"
                }
            }
        },
        {
            "parameters": {
                "rule": {
                    "interval": [
                        {
                            "triggerAtHour": 17
                        }
                    ]
                }
            },
            "type": "n8n-nodes-base.scheduleTrigger",
            "typeVersion": 1.2,
            "position": [
                -512,
                -144
            ],
            "id": "2dd8a77f-375a-4e75-8040-65e459b311b7",
            "name": "Daily Notice Check - 6 PM"
        },
        {
            "parameters": {
                "jsCode": "const rows = $input.all(); // get all rows from sheet\n\nreturn rows.map(row => {\n  const data = row.json;\n\n  const whatsappMessage = `Hello *${data[\"Name\"]}*,\n📌 Task: ${data[\"Today Task\"]}\n📅 Date: ${new Date().toLocaleDateString()}\n\nPlease complete your task and keep this for your records.`;\n\n  return {\n    json: {\n      messaging_product: \"whatsapp\",\n      to: data[\"Phone Number\"],   // make sure this column exists in your sheet\n      type: \"text\",\n      text: {\n        body: whatsappMessage\n      }\n    }\n  };\n});\n"
            },
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                -96,
                -144
            ],
            "id": "fc8048f8-b08e-4017-8b7c-fc58bdc75410",
            "name": "Prepare WhatsApp Content"
        },
        {
            "parameters": {
                "documentId": {
                    "__rl": true,
                    "value": "1XbW26jyvNATIZem2_c-QQNjLHMprnzRGQMh_86apjkk",
                    "mode": "list",
                    "cachedResultName": "WA-SendMessages",
                    "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1XbW26jyvNATIZem2_c-QQNjLHMprnzRGQMh_86apjkk/edit?usp=drivesdk"
                },
                "sheetName": {
                    "__rl": true,
                    "value": "gid=0",
                    "mode": "list",
                    "cachedResultName": "Sheet",
                    "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1XbW26jyvNATIZem2_c-QQNjLHMprnzRGQMh_86apjkk/edit#gid=0"
                },
                "options": {}
            },
            "type": "n8n-nodes-base.googleSheets",
            "typeVersion": 4.7,
            "position": [
                -304,
                -144
            ],
            "id": "c5c4201d-4dda-4d1f-b1c5-03155cc14b9e",
            "name": "Get row(s) in sheet",
            "credentials": {
                "googleSheetsOAuth2Api": {
                    "id": "ZB6oTW0i2kVgoo2z",
                    "name": "Google Sheets account"
                }
            }
        }
    ],
    "pinData": {},
    "connections": {
        "Daily Notice Check - 6 PM": {
            "main": [
                [
                    {
                        "node": "Get row(s) in sheet",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Prepare WhatsApp Content": {
            "main": [
                [
                    {
                        "node": "Send WhatsApp Notice",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Send WhatsApp Notice": {
            "main": [
                []
            ]
        },
        "Get row(s) in sheet": {
            "main": [
                [
                    {
                        "node": "Prepare WhatsApp Content",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "active": false,
    "settings": {
        "executionOrder": "v1"
    },
    "versionId": "68405864-0220-45ef-a538-c50a0ae4c370",
    "meta": {
        "templateCredsSetupCompleted": true,
        "instanceId": "ef4750618a6f2c555661758a16181cd7cc8ad4a2dbaee17d8de4d749c0e8eeb2"
    },
    "id": "pXypHOa00f8FtRKP",
    "tags": []
}