WA-Send-Messages.json
{
    "name": "WA-Send-1",
    "nodes": [
        {
            "parameters": {
                "documentId": {
                    "__rl": true,
                    "value": "https://docs.google.com/spreadsheets/d/1XbW26jyvNATIZem2_c-QQNjLHMprnzRGQMh_86apjkk/edit?gid=0#gid=0",
                    "mode": "url"
                },
                "sheetName": {
                    "__rl": true,
                    "value": "gid=0",
                    "mode": "list",
                    "cachedResultName": "Sheet1",
                    "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1XbW26jyvNATIZem2_c-QQNjLHMprnzRGQMh_86apjkk/edit#gid=0"
                },
                "options": {}
            },
            "type": "n8n-nodes-base.googleSheets",
            "typeVersion": 4.7,
            "position": [
                -64,
                -128
            ],
            "id": "fa6c1bf2-e8a2-4a30-876d-246f8a985a12",
            "name": "Get row(s) in sheet",
            "credentials": {
                "googleSheetsOAuth2Api": {
                    "id": "ZB6oTW0i2kVgoo2z",
                    "name": "Google Sheets account"
                }
            }
        },
        {
            "parameters": {
                "jsCode": "const rows = $input.all();  // get all rows\nconst results = rows.map(row => {\n  const data = row.json;\n\n  const whatsappMessage = `Hello *${data.Name}*,\n📌 Task: ${data[\"Today Task\"]}\n📅 Date: ${new Date().toLocaleDateString()}\n\nPlease complete your task and keep this for your records.`;\n\n  return {\n    json: {\n      phone: data[\"Phone Number\"],   // <-- Make sure column name matches your sheet\n      message: whatsappMessage,\n      recipientName: data.Name,\n      task: data[\"Today Task\"],\n    }\n  };\n});\n\nreturn results;\n"
            },
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                144,
                -128
            ],
            "id": "a585d50e-d57f-4c5a-a6d8-7071bd861a5c",
            "name": "Prepare WhatsApp Content"
        },
        {
            "parameters": {
                "rule": {
                    "interval": [
                        {
                            "field": "hours",
                            "triggerAtMinute": 1
                        }
                    ]
                }
            },
            "type": "n8n-nodes-base.scheduleTrigger",
            "typeVersion": 1.2,
            "position": [
                -272,
                -128
            ],
            "id": "9958567f-b0ec-48e3-9727-3b9924e6ae5d",
            "name": "Daily Notice Check - 6 PM"
        },
        {
            "parameters": {
                "method": "POST",
                "url": "=https://graph.facebook.com/v22.0/658047077399745/messages\n",
                "authentication": "genericCredentialType",
                "genericAuthType": "httpCustomAuth",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "Authorization",
                            "value": "Bearer EAAVkNOhbryMBPWIJNbcmQw3IKqwz46qSG9v8bQat4ZBsQOGMHwwjm1mZCwBwfoM6N6BJUcEZB9UDPxPJHKhMbCyk17oUZCseHaAdz00c0MIaodlBZADEA6nhlXCDMzglSMI7BKcjlsT2cWkIEswZAhKnSTAN6xMnPsN17kKrZCzrLgvKoIX8bnBYgP7AHCNiHj6RCu5xND7ZBmGEqEoCvzZCMf1iMamQHD9g5x4DClfa3RAZDZD"
                        },
                        {
                            "name": "Content-Type",
                            "value": "application/json"
                        }
                    ]
                },
                "sendBody": true,
                "bodyParameters": {
                    "parameters": [
                        {
                            "name": "messaging_product",
                            "value": "whatsapp"
                        },
                        {
                            "name": "to",
                            "value": "={{$json[\"phone\"].toString().replace(/\\D/g, '')}}"
                        },
                        {
                            "name": "type",
                            "value": "text"
                        },
                        {
                            "name": "text.body",
                            "value": "={{$json[\"message\"]}}"
                        }
                    ]
                },
                "options": {}
            },
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                352,
                -128
            ],
            "id": "669331e2-c677-4f03-a980-26116669daf7",
            "name": "Send WhatsApp Notice",
            "credentials": {
                "httpCustomAuth": {
                    "id": "ztgFiXiRkFazHXHL",
                    "name": "Custom Auth account"
                }
            }
        }
    ],
    "pinData": {},
    "connections": {
        "Get row(s) in sheet": {
            "main": [
                [
                    {
                        "node": "Prepare WhatsApp Content",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Prepare WhatsApp Content": {
            "main": [
                [
                    {
                        "node": "Send WhatsApp Notice",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Daily Notice Check - 6 PM": {
            "main": [
                [
                    {
                        "node": "Get row(s) in sheet",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Send WhatsApp Notice": {
            "main": [
                []
            ]
        }
    },
    "active": false,
    "settings": {
        "executionOrder": "v1"
    },
    "versionId": "e63c8d88-fb0d-4e23-ba19-020ce5ca5778",
    "meta": {
        "templateCredsSetupCompleted": true,
        "instanceId": "ef4750618a6f2c555661758a16181cd7cc8ad4a2dbaee17d8de4d749c0e8eeb2"
    },
    "id": "5ckec2ZG76pytazI",
    "tags": []
}